footer {
    background:$base;
    color:$white;
    .wrapper {
        margin-bottom:0;
    }
    .myForm {
        border:1px solid $white;
        display:flex;
        input[type="email"] {
            border:none;
            background:$base;
            color:$white;
            flex:1 0;
            padding:10px;
        }
        button {
            background:none;
            border:none;
            opacity:0.5;
        }
    }
}

.section__heading--small {
    @include fontSize(2rem, 1.5);
    color:$base;
}
.section__heading--white {
    color:$white;
    @include breakPoint(fifthBreak) {
    text-align: center;
}
}
nav {
    // border:1px solid red;
    width:100%;
    .nav__container--centered {
        justify-content: center;
    }
    .nav__container--column {
        flex-flow:column wrap;
        position: relative;
        // border:1px solid red;
        @include breakPoint(fifthBreak) {
            flex-flow:row wrap;
            justify-content: space-between;
            
        }
        .nav__listItem--lowercase {
            text-transform:lowercase;
            font-weight:400;
        }
        .nav__listItem--lowercase::before {
            font-family:'Font Awesome 5 Free';
            position: absolute;
            font-weight:900;
        }
        .nav__listItem--lowercase:nth-of-type(1)::before {
            content:'\f0e0';
            font-weight:400;
        }
        .nav__listItem--lowercase:nth-of-type(2)::before {
            content:'\f095';
        }
        .nav__listItem--lowercase:nth-of-type(3)::before {
            content:'\f3c5';
        }
        // border:1px solid red;
        .nav__listItem__a--white {
            color:$white;
        }
    }
}

.gallery--instagram {
    // border:1px solid cyan;
    height:auto;
    .gallery__image--small {
        margin-right:10px;
        margin-bottom:10px;
        width:calc((100% - 30px) / 4);
        align-content:center;
    }
    .gallery__image--small:nth-of-type(4), .gallery__image--small:nth-of-type(8) {
        margin-right:0;
    }
}

.container--borderBottom {
    border-bottom:1px solid white;
}

.card__icon--small {
    color:$white;
}

.credits {
    @include fontBase('Opensans', capitalize);
    color:$white;
    text-align:center;
    padding-bottom:1px;
}

footer {
    .container {
        // border:1px solid pink;
        @include breakPoint(thirdBreak) {
            flex-flow:row wrap;
            // border:1px solid cornflowerblue;
            .card:nth-of-type(1), .card:nth-of-type(2) {
                // border:1px solid red;
                margin-top:2%;
                width:calc(50% - 2%);
                @include breakPoint(fifthBreak) {
                    width:100%;
                    text-align: center;
                }
            }
            .card:nth-of-type(3) {
                width:100%;
            }
        }
    }
}
