header {
    background:url(../assets/image-1.jpeg) no-repeat;
    background-size:cover;
    height:100vh;
}

header .wrapper {
    margin:0 auto;
}

.wrapper {
    width:80%;
    margin:3% auto;
    display:flex;
    flex-flow:column wrap;
    justify-content:space-between;
    // border:1px solid red;
    height:60%;
}

.logoNav {
    // border:1px solid red;
    display:flex;
    justify-content: space-between;
    align-items:center;
    .logoNav__logo--black {
        // border:1px solid red;
        @include fontSize(3.5rem, 0);
        width:50%;
        font-weight:700;
    }

}

nav {
    width:50%;
    .nav__container {
        display: flex;
        justify-content: space-around;
        // border:1px solid cyan;
        padding:0;
        .nav__listItem--big {
            text-transform:uppercase;
            font-size:2rem;
            font-weight:700;

        }
        .nav__listItem {
            list-style:none;
            .nav__listItem__a {
                text-decoration:none;
                padding:10px 10px 10px 25px;
            }
            .nav__listItem__a--black {
                color:$base;
            }
        }
    }
}

.btn {
    border:1px solid$primary;
    padding:10px 30px;
    border-radius:5px;
    background:$primary;
    // color:white;
    text-transform:uppercase;
    a {
        color:$white;
        text-decoration:none;
    }
}
