header {
    background:url(../assets/image-1.jpeg) no-repeat;
    background-size:cover;
    background-position: bottom;
    height:100vh;
}

header .wrapper {
    margin:0 auto;
    // border:1px solid rebeccapurple;
}

.wrapper {
    width:80%;
    max-width:1500px;
    margin:3% auto;
    display:flex;
    flex-flow:column wrap;
    justify-content:space-between;
    // border:1px solid red;
    height:60%;
}

.logoNav {
    // border:1px solid red;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:auto;
    @include breakPoint(fourthBreak) {
        flex-direction:column;
        margin-top:2%;
    }
    @include breakPoint(fifthBreak) {
        align-items: flex-start;
        // border:1px solid red;
    }
    .logoNav__logo--black {
        // border:1px solid red;
        @include fontSize(3.5rem, 1);
        font-weight:700;
        flex:0 1;
    }
}

nav {
    width:50%;
    flex: 2 0;
    @include breakPoint(firstBreak) {
        width:70%;
    }
    .nav__container {
        display: flex;
        justify-content: flex-end;
        // border:1px solid cyan;
        padding:0;
        @include breakPoint(fourthBreak) {
            justify-content: center;
        }
        @include breakPoint(fifthBreak) {
            display:none;
        }
        .nav__listItem {
            list-style:none;
            text-transform:uppercase;
            font-weight:700;
        }
        .nav__listItem--big {
            font-size:2rem;
        }
            .nav__listItem__a {
                text-decoration:none;
                padding:10px 10px 10px 25px;
            }
            .nav__listItem__a--black {
                color:$base;
            }
    }
}

.btn {
    border:1px solid $primary;
    padding:10px 30px;
    border-radius:5px;
    background:$primary;
    text-transform:uppercase;
    @include breakPoint(secondBreak) {
        padding:10px 20px;
    }
    a {
        color:$white;
        text-decoration:none;
    }
}
