
@mixin fontSize($fontSize, $lineHeight) {
    font-size: $fontSize;
    line-height:$lineHeight;
    color:#1d1d1d
}

@mixin fontBase($fontFamily) {
    font-family:$fontFamily, sans-serif;
    color:#1d1d1d;
    // font-weight:700;
}
