
@mixin fontSize($fontSize, $lineHeight) {
    font-size: $fontSize;
    line-height:$lineHeight;
    color:$base;
}

@mixin fontBase($fontFamily, $textTransform) {
    font-family:$fontFamily, sans-serif;
    text-transform:$textTransform;
    color:$base;
}
