$primary:#0e5f88;
$secondary:#8ecceb;
$base:#1d1d1d;

@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}