// WELCOME SECTION STYLES 

.welcome .wrapper {
    text-align:center;
    // margin:3% auto;
}

.section__heading {
    @include fontSize(3.5rem, 3);
    text-align:center;
    width:100%;
    @include breakPoint(thirdBreak) {
        @include fontSize(3rem, 2);
    }
    .welcome__heading--primary {
        color:$primary;
    }
}

.section__heading--medium {
    @include fontSize(2.5rem, 1);
    @include breakPoint(thirdBreak) {
        @include fontSize(2rem, 1);
    }
}
.section__heading--white {
    @include fontSize(2.75rem, 2);
    color:$white;
    @include breakPoint(secondBreak) {
        @include fontSize(2rem, 2);
    }
}

.section__heading--BW {
    color:$base;
    @include fontSize(2.75rem, 2);
    @include breakPoint(sixthBreak) {
        color:$white;
    }
}

// WHY CHOOSE US SECTION STYLES

.why .section__heading{
    // border:1px solid sienna;
    text-align:left;
}

.why .wrapper {
    // border:1px solid red;
    width:100%;
    display:flex;
    flex-flow:row wrap;
    background:$soft;
    @include breakPoint(thirdBreak) {
        background:url(../assets/image-4.jpeg) no-repeat;
    }
    .section__heading {
        @include breakPoint(firstBreak) {
            text-align:center;
        }
    }
    .container__half {
        width:50%;
        display: flex;
        flex-flow: column wrap;
        // border:2px solid cornflowerblue;
        @include breakPoint(firstBreak) {
            text-align:center;
        }
        @include breakPoint(thirdBreak) {
            width:100%;
        }
    }
    .container__half:nth-child(1) {
        // border:1px solid red;
        margin:4% 5%;
        width:calc(50% - 10%);
        @include breakPoint(thirdBreak) {
            background:rgba(255,255,255,0.7);
            border:1px dotted $base;
            width:100%;
        }
    }
     .container__half:nth-child(2) {
        // border:1px solid rebeccapurple;
        background:url(../assets/image-4.jpeg);
        background-size:cover;
        @include breakPoint(thirdBreak) {
            display:none;
        }
    }
}

.section__list {
    // border:1px solid red;
    display:flex;
    width:100%;
    list-style:none;
    padding:0;
    .section__list__item:nth-child(1) {
        width:20%;
        @include breakPoint(firstBreak) {
            display:none;
        }
        .icon {
            width:100%;
        }
    }
    .section__list__item:nth-child(2) {
        width:80%;
        padding-left:2%;
        @include breakPoint(firstBreak) {
            width:100%;
            // border:1px solid red;
        }
    }
}

// SERVICES SECTION STYLES
.container {
    // border:1px solid rebeccapurple;
    display: flex;
    .card {
        // border:1px solid red;
        width:calc((100% - 2%) / 3);
        margin:1%;
        padding:3% 2%;
        text-align:center;
        .card__icon--big {
            font-size:8rem;
        }
    }
    .card--bordered {
        border:1px solid $secondary;
        border-radius:5px;
    }

    .card--filled {
        background:$secondary;
        border-radius:5px;
    }
    .card--left {
        text-align:left;
    }
}

.card__heading--small {

}

.services .container {
    @include breakPoint(fifthBreak) {
        // border:1px solid rebeccapurple; 
        flex-direction:column;
        .card {
            width:100%;
            margin-left:0;
        }
    }
}

.card__list {
    list-style:none;
    padding:0;
    .card__list__item::before {
        content:'✓';
        margin:1%;
    }
}

// TESTIMONIALS STYLES

.testimonials {
    background:$base;
    color:$white;
    text-align:center;
    padding:2%;
    @include breakPoint(seventhBreak) {
        position:fixed;
        right:0;
        bottom:200px;
        // border:1px solid red;
        z-index:10;
        // display:none;
        width:10%;
        // height:10%;

        transition:all 1s;
        .section__heading {
            display:none;
        }
    }
}

.testimonials.show {
    // display:block;
    width:100%;
    height:calc(min-content / 2);
    color:$white;
    transform:scale(1.5);
    .section__heading {
        display:block;
    }
}

.icon {
    width:10%;
    margin:0 auto;
}

.gallery {
    // margin:0 auto;
    display:flex;
    flex-flow: row wrap;
    // border:1px solid red;
    width:100%;
    flex-flow:row wrap;
    .gallery__image {
        // border:1px solid rebeccapurple;
        width:calc(100% / 4);
        position: relative;
        &:hover .gallery__image__caption {
            display:flex;
        }
        @include breakPoint(thirdBreak) {
            width:calc(100% / 2);
        }
    }
    .gallery__image__caption {
        display:none;
        background:rgba(0,0,0,0.7);
        color:$white;
        position: relative;
        @include position(absolute, 0, 0, 0, 0);
        .card {
            @include position(absolute, 0, 0, 0, 0);
            border:1px solid $white;
            border-radius:5px;
            margin:4%;
            display:flex;
            flex-flow:column wrap;
            justify-content: center;
            text-align:center;
            // border:1px solid red;
        }
    }
}

main .gallery {
    // border:1px solid slateblue;
    @include breakPoint(seventhBreak) {
        display:none;
    }
}
//  SERVICES CONTINUED SECTION STYLES

.moreServices .wrapper {
    // border:1px solid red;
    display: flex;
    flex-direction:row;
    align-items:center;
    @include breakPoint(secondBreak) {
        width:100%;
        margin:0;
        background:$primary;
        .section__heading {
            color:$white;
        }
    }
    .moreServices__text, .container__half {
        width:calc(100% / 2);
        // border:1px solid slateblue;
        margin:1.5% 0;
        align-items:space-between;
        text-align:center;
        background:white;
        @include breakPoint(secondBreak) {
            margin:0;

        }
    }

    .moreServices__text--first {
        @include breakPoint(sixthBreak) {
            background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/image-11.jpeg) no-repeat;
        }
    }
    .moreServices__text--second {
        @include breakPoint(sixthBreak) {
            background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/image-10.jpeg) no-repeat;
            border-top:1px solid $white;
            border-bottom:1px solid $white;
        }
    }
    .moreServices__text {
        @include breakPoint(sixthBreak) {
            width:100%;
            background-attachment: fixed;
            background-size:cover;
            background-position: bottom;
            background-attachment: fixed;
            color:$white;
            border-top:1px solid $white;

        
        }
    }
    .container__half:nth-child(1) {
        background:url(../assets/image-11.jpeg) no-repeat;
        background-size:cover;
        background-position: center center;

    }
    .container__half:nth-child(2) {
        background:url(../assets/image-10.jpeg) no-repeat;
        background-size:cover;
        background-position: bottom;
    }
    .container__half {
        @include breakPoint(sixthBreak) {
            display:none;
        }
    }
    .moreServices__text {
        padding:5%;
        position: relative;
        .moreServices__text__number {
            @include position(absolute, -10px, 0, 0, 60px);
            font-family:'Montserrat', sans-serif;
            font-size:10rem;
            color:rgba(229, 227, 227, 0.5);
            font-weight:700;
            width:min-content;
            // border:1px solid red;
            @include breakPoint(firstBreak) {
                left:60px;
                top:20px;
                font-size:8rem;
            }
            @include breakPoint(sixthBreak) {
                // border:1px solid red;
                top:0;
                left:50px;
            }
        }
    }
}

// ASK SECTION STYLES

.ask {
    background:$secondary;
    width:100%;
    padding:1% 0;
    .wrapper {
        display: flex;
        flex-flow:column wrap;
        align-items:center;
        // border:1px solid red;
        .myForm {
            display:flex;
            flex-direction:column;
            align-items:center;
            width:60%;
            // border:1px solid red;
            input[type="text"] {
                border:1px solid $base;
                text-align:center;
                padding:1%;
                width:100%;
                text-transform: uppercase;
                color:$base;
            }
            input[type="submit"] {
                background:$base;
                border:1px solid $base;
                color:$white;
                padding:10px 30px;
                border-radius:5px;
                margin:3%;
                transition:all 0.3s;
                &:hover {
                    background:none;
                }
            }
        }
    }
}

// TEAM SECTION STYLES

.team .card {
    // border:1px solid red;
    position: relative;
    width:100%;
    padding:0;
    overflow: hidden;
    &:hover .card__caption {
        display:flex;
    }
    .card--cornered {
        border-radius:none;
    }
    .card__caption {
        // border:1px solid red;
        display:none;
        background:rgba(0,0,0,0.7);
        @include position(absolute, 0, 0, 0, 0);
        flex-direction:column;
        justify-content: center;
        color:$white;
        .card__caption__text {
            margin:0;
            text-transform: uppercase;
        }
    }
}

.logoNav--column {
    flex-direction:column;
    justify-content: center;
    .logoNav__logo--white {
        color:$white;
    }
}

.nav__listItem__a--white {
    color:$white;
}

// FLOATING NAV

.floating__nav {
    // border:1px solid red;
    position:fixed;
    bottom:50px;
    right:20px;
    width:min-content;
    .floating__nav__container {
        // border:1px solid blue;
        list-style:none;
        .nav__listItem {
            .nav__listItem__a {
            color:grey;
            &:hover {
                color:$primary;
            }
                
            }
        }
    }
}
