@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

header {
  background: url(../assets/image-1.jpeg) no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh; }

header .wrapper {
  margin: 0 auto; }

.wrapper {
  width: 80%;
  max-width: 1500px;
  margin: 3% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60%; }

.logoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto; }
  @media (max-width: 840px) {
    .logoNav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 2%; } }
  @media (max-width: 775px) {
    .logoNav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; } }
  .logoNav .logoNav__logo--black {
    font-size: 3.5rem;
    line-height: 1;
    color: #1d1d1d;
    font-weight: 700;
    -webkit-box-flex: 0;
    -ms-flex: 0 1;
    flex: 0 1; }

.subTitle--uppercase {
  font-size: 2.75rem;
  line-height: 2;
  color: #1d1d1d; }
  @media (max-width: 775px) {
    .subTitle--uppercase {
      font-size: 2rem;
      line-height: 2;
      color: #1d1d1d; } }

nav {
  width: 50%;
  -webkit-box-flex: 2;
  -ms-flex: 2 0;
  flex: 2 0; }
  @media (max-width: 1165px) {
    nav {
      width: 70%; } }
  nav .nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0; }
    @media (max-width: 940px) {
      nav .nav__container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    nav .nav__container .nav__listItem {
      list-style: none;
      text-transform: uppercase;
      font-weight: 700; }
    nav .nav__container .nav__listItem--big {
      font-size: 2rem; }
    nav .nav__container .nav__listItem__a {
      text-decoration: none;
      padding: 10px 10px 10px 25px; }
      nav .nav__container .nav__listItem__a:hover {
        color: #8ecceb; }
    nav .nav__container .nav__listItem__a--black {
      color: #1d1d1d; }

.btn {
  border: 1px solid #0e5f88;
  padding: 10px 30px;
  border-radius: 5px;
  background: #0e5f88;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 1080px) {
    .btn {
      padding: 10px 20px; } }
  .btn a {
    color: white;
    text-decoration: none; }
  .btn:hover {
    background: #8ecceb;
    border: 1px solid #8ecceb; }

.hamburger {
  display: none;
  font-size: 3.5rem;
  line-height: 1;
  color: #1d1d1d; }
  @media (max-width: 775px) {
    .hamburger {
      display: block; } }
  .hamburger:hover {
    color: white; }

@media (max-width: 775px) {
  header .logoNav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (max-width: 775px) {
  header .logoNav nav {
    display: none;
    border: 1px solid sienna; } }

header .logoNav nav.show {
  display: none;
  background: white; }
  @media (max-width: 775px) {
    header .logoNav nav.show {
      display: block; } }
  header .logoNav nav.show .nav__container {
    background: #0e5f88;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white; }
    header .logoNav nav.show .nav__container .nav__listItem:not(.exit-responsive) {
      width: 100%;
      text-align: center;
      font-size: 4rem;
      line-height: 3;
      color: #1d1d1d; }
      header .logoNav nav.show .nav__container .nav__listItem:not(.exit-responsive) .nav__listItem__a {
        color: white;
        width: 100%;
        display: block; }
        header .logoNav nav.show .nav__container .nav__listItem:not(.exit-responsive) .nav__listItem__a:hover {
          background: #8ecceb; }

.exit {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  top: -80px;
  right: -20px; }
  .exit .exit-responsive {
    display: none;
    color: white;
    font-size: 4rem; }
    @media (max-width: 775px) {
      .exit .exit-responsive {
        display: block; } }

.welcome .wrapper {
  text-align: center; }

.section__heading {
  font-size: 3.5rem;
  line-height: 3;
  color: #1d1d1d;
  text-align: center;
  width: 100%; }
  @media (max-width: 940px) {
    .section__heading {
      font-size: 3rem;
      line-height: 2;
      color: #1d1d1d; } }
  .section__heading .welcome__heading--primary {
    color: #0e5f88; }

.section__heading--medium {
  font-size: 2.5rem;
  line-height: 1;
  color: #1d1d1d; }
  @media (max-width: 940px) {
    .section__heading--medium {
      font-size: 2rem;
      line-height: 1;
      color: #1d1d1d; } }

.section__heading--white {
  font-size: 2.75rem;
  line-height: 2;
  color: #1d1d1d;
  color: white; }
  @media (max-width: 1080px) {
    .section__heading--white {
      font-size: 2rem;
      line-height: 2;
      color: #1d1d1d; } }

.section__heading--BW {
  color: #1d1d1d;
  font-size: 2.75rem;
  line-height: 2;
  color: #1d1d1d; }
  @media (max-width: 675px) {
    .section__heading--BW {
      color: white; } }

.why .section__heading {
  text-align: left; }

.why .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #f1f3f3; }
  @media (max-width: 940px) {
    .why .wrapper {
      background: url(../assets/image-4.jpeg) no-repeat; } }
  @media (max-width: 1165px) {
    .why .wrapper .section__heading {
      text-align: center; } }
  .why .wrapper .container__half {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
    @media (max-width: 1165px) {
      .why .wrapper .container__half {
        text-align: center; } }
    @media (max-width: 940px) {
      .why .wrapper .container__half {
        width: 100%; } }
  .why .wrapper .container__half:nth-child(1) {
    margin: 4% 5%;
    width: calc(50% - 10%); }
    @media (max-width: 940px) {
      .why .wrapper .container__half:nth-child(1) {
        background: rgba(255, 255, 255, 0.7);
        border: 1px dotted #1d1d1d;
        width: 100%; } }
  .why .wrapper .container__half:nth-child(2) {
    background: url(../assets/image-4.jpeg);
    background-size: cover; }
    @media (max-width: 940px) {
      .why .wrapper .container__half:nth-child(2) {
        display: none; } }

.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0; }
  .section__list .section__list__item:nth-child(1) {
    width: 20%; }
    @media (max-width: 1165px) {
      .section__list .section__list__item:nth-child(1) {
        display: none; } }
    .section__list .section__list__item:nth-child(1) .icon {
      width: 100%; }
  .section__list .section__list__item:nth-child(2) {
    width: 80%;
    padding-left: 2%; }
    @media (max-width: 1165px) {
      .section__list .section__list__item:nth-child(2) {
        width: 100%; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container .card {
    width: calc((100% - 2%) / 3);
    margin: 1%;
    padding: 3% 2%;
    text-align: center; }
    .container .card .card__icon--big {
      font-size: 8rem; }
  .container .card--bordered {
    border: 1px solid #8ecceb;
    border-radius: 5px; }
  .container .card--filled {
    background: #8ecceb;
    border-radius: 5px; }
  .container .card--left {
    text-align: left; }

@media (max-width: 775px) {
  .services .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .services .container .card {
      width: 100%;
      margin-left: 0; } }

.card__list {
  list-style: none;
  padding: 0; }
  .card__list .card__list__item::before {
    content: '✓';
    margin: 1%; }

.testimonials {
  background: #1d1d1d;
  color: white;
  text-align: center;
  padding: 2%; }
  .testimonials span {
    display: none; }
  @media (max-width: 450px) {
    .testimonials {
      position: fixed;
      right: 0;
      bottom: 0px;
      z-index: 10;
      width: 25%;
      height: 5%;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      background: rgba(0, 0, 0, 0.5); }
      .testimonials .section__heading, .testimonials p, .testimonials .icon {
        display: none; }
      .testimonials .testimonial {
        padding: 3%; }
      .testimonials span {
        display: block; } }

.testimonials.show {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  color: white;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background: #1d1d1d; }
  .testimonials.show .flickity, .testimonials.show .flickity__cell {
    display: block; }
  .testimonials.show .section__heading, .testimonials.show p, .testimonials.show .icon {
    display: block; }
  .testimonials.show span {
    display: none; }

.testimonial {
  width: 60%;
  margin: 1% auto; }
  @media (max-width: 450px) {
    .testimonial {
      margin: 0 auto;
      width: 100%; } }

.icon {
  width: 10%;
  margin: 0 auto; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  flex-flow: row wrap; }
  .gallery .gallery__image {
    width: calc(100% / 4);
    position: relative; }
    .gallery .gallery__image:hover .gallery__image__caption {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    @media (max-width: 940px) {
      .gallery .gallery__image {
        width: calc(100% / 2); } }
  .gallery .gallery__image__caption {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .gallery .gallery__image__caption .card {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid white;
      border-radius: 5px;
      margin: 4%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; }

@media (max-width: 450px) {
  main .gallery {
    display: none; } }

.moreServices .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1080px) {
    .moreServices .wrapper {
      width: 100%;
      margin: 0;
      background: #0e5f88; }
      .moreServices .wrapper .section__heading {
        color: white; } }
  .moreServices .wrapper .moreServices__text, .moreServices .wrapper .container__half {
    width: calc(100% / 2);
    margin: 1.5% 0;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    text-align: center;
    background: white; }
    @media (max-width: 1080px) {
      .moreServices .wrapper .moreServices__text, .moreServices .wrapper .container__half {
        margin: 0; } }
  @media (max-width: 675px) {
    .moreServices .wrapper .moreServices__text--first {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/image-11.jpeg) no-repeat;
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-11.jpeg) no-repeat;
      background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-11.jpeg) no-repeat;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-11.jpeg) no-repeat; } }
  @media (max-width: 675px) {
    .moreServices .wrapper .moreServices__text--second {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/image-10.jpeg) no-repeat;
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-10.jpeg) no-repeat;
      background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-10.jpeg) no-repeat;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-10.jpeg) no-repeat;
      border-top: 1px solid white;
      border-bottom: 1px solid white; } }
  @media (max-width: 675px) {
    .moreServices .wrapper .moreServices__text {
      width: 100%;
      background-attachment: fixed;
      background-size: cover;
      background-position: bottom;
      background-attachment: fixed;
      color: white;
      border-top: 1px solid white; } }
  .moreServices .wrapper .container__half:nth-child(1) {
    background: url(../assets/image-11.jpeg) no-repeat;
    background-size: cover;
    background-position: center center; }
  .moreServices .wrapper .container__half:nth-child(2) {
    background: url(../assets/image-10.jpeg) no-repeat;
    background-size: cover;
    background-position: bottom; }
  @media (max-width: 675px) {
    .moreServices .wrapper .container__half {
      display: none; } }
  .moreServices .wrapper .moreServices__text {
    padding: 5%;
    position: relative; }
    .moreServices .wrapper .moreServices__text .moreServices__text__number {
      position: absolute;
      top: -10px;
      right: 0;
      bottom: 0;
      left: 60px;
      font-family: 'Montserrat', sans-serif;
      font-size: 10rem;
      color: rgba(229, 227, 227, 0.5);
      font-weight: 700;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content; }
      @media (max-width: 1165px) {
        .moreServices .wrapper .moreServices__text .moreServices__text__number {
          left: 60px;
          top: 20px;
          font-size: 8rem; } }
      @media (max-width: 675px) {
        .moreServices .wrapper .moreServices__text .moreServices__text__number {
          top: 0;
          left: 50px; } }

.ask {
  background: #8ecceb;
  width: 100%;
  padding: 1% 0; }
  .ask .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .ask .wrapper .myForm {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 60%; }
      .ask .wrapper .myForm input[type="text"] {
        border: 1px solid #1d1d1d;
        text-align: center;
        padding: 1%;
        width: 100%;
        text-transform: uppercase;
        color: #1d1d1d; }
      .ask .wrapper .myForm input[type="submit"] {
        background: #1d1d1d;
        border: 1px solid #1d1d1d;
        color: white;
        padding: 10px 30px;
        border-radius: 5px;
        margin: 3%;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .ask .wrapper .myForm input[type="submit"]:hover {
          background: none; }

.team .card {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .team .card:hover .card__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .team .card .card--cornered {
    border-radius: none; }
  .team .card .card__caption {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white; }
    .team .card .card__caption .card__caption__text {
      margin: 0;
      text-transform: uppercase; }

.logoNav--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .logoNav--column .logoNav__logo--white {
    color: white; }

.nav__listItem__a--white {
  color: white; }

.floating__nav {
  position: fixed;
  bottom: 40px;
  right: 0px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 1%; }
  @media (max-width: 450px) {
    .floating__nav {
      padding: 0 2%; } }
  .floating__nav .floating__nav__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding: 0; }
    .floating__nav .floating__nav__container .nav__listItem .nav__listItem__a {
      color: #1d1d1d; }
      .floating__nav .floating__nav__container .nav__listItem .nav__listItem__a:hover {
        color: #0e5f88; }

footer {
  background: #1d1d1d;
  color: white; }
  footer .wrapper {
    margin-bottom: 0; }
  footer .myForm {
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .myForm input[type="email"] {
      border: none;
      background: #1d1d1d;
      color: white;
      -webkit-box-flex: 1;
      -ms-flex: 1 0;
      flex: 1 0;
      padding: 10px; }
    footer .myForm button {
      background: none;
      border: none;
      opacity: 0.5; }

.section__heading--small {
  font-size: 2rem;
  line-height: 1.5;
  color: #1d1d1d;
  color: #1d1d1d; }

.section__heading--white {
  color: white; }
  @media (max-width: 775px) {
    .section__heading--white {
      text-align: center; } }

nav {
  width: 100%; }
  nav .nav__container--centered {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  nav .nav__container--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    position: relative; }
    @media (max-width: 775px) {
      nav .nav__container--column {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    nav .nav__container--column .nav__listItem--lowercase {
      text-transform: lowercase;
      font-weight: 400; }
    nav .nav__container--column .nav__listItem--lowercase::before {
      font-family: 'Font Awesome 5 Free';
      position: absolute;
      font-weight: 900; }
    nav .nav__container--column .nav__listItem--lowercase:nth-of-type(1)::before {
      content: '\f0e0';
      font-weight: 400; }
    nav .nav__container--column .nav__listItem--lowercase:nth-of-type(2)::before {
      content: '\f095'; }
    nav .nav__container--column .nav__listItem--lowercase:nth-of-type(3)::before {
      content: '\f3c5'; }
    nav .nav__container--column .nav__listItem__a--white {
      color: white; }

.gallery--instagram {
  height: auto; }
  .gallery--instagram .gallery__image--small {
    margin-right: 10px;
    margin-bottom: 10px;
    width: calc((100% - 30px) / 4);
    -ms-flex-line-pack: center;
    align-content: center; }
  .gallery--instagram .gallery__image--small:nth-of-type(4), .gallery--instagram .gallery__image--small:nth-of-type(8) {
    margin-right: 0; }

.container--borderBottom {
  border-bottom: 1px solid white; }

.card__icon--small {
  color: white; }

.credits {
  font-family: "Opensans", sans-serif;
  text-transform: capitalize;
  color: #1d1d1d;
  color: white;
  text-align: center;
  padding-bottom: 1px; }

@media (max-width: 940px) {
  footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    footer .container .card:nth-of-type(1), footer .container .card:nth-of-type(2) {
      margin-top: 2%;
      width: calc(50% - 2%); } }
    @media (max-width: 940px) and (max-width: 775px) {
      footer .container .card:nth-of-type(1), footer .container .card:nth-of-type(2) {
        width: 100%;
        text-align: center; } }

@media (max-width: 940px) {
    footer .container .card:nth-of-type(3) {
      width: 100%; } }

html {
  font-size: 62.5%; }

body {
  font-family: "Opensans", sans-serif;
  text-transform: none;
  color: #1d1d1d;
  font-size: 1.6rem;
  line-height: 2;
  color: #1d1d1d; }
  @media (max-width: 1165px) {
    body {
      font-size: 1.4rem;
      line-height: 1.75;
      color: #1d1d1d; } }

img {
  width: 100%;
  display: block;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #1d1d1d; }

h1 {
  font-size: 6rem;
  line-height: 1;
  color: #1d1d1d; }
  @media (max-width: 775px) {
    h1 {
      font-size: 5rem;
      line-height: 1;
      color: #1d1d1d; } }

a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
