@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

header {
  background: url(../assets/image-1.jpeg) no-repeat;
  background-size: cover;
  height: 100vh; }

header .wrapper {
  margin: 0 auto; }

.wrapper {
  width: 80%;
  margin: 3% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60%; }

.logoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .logoNav .logoNav__logo--black {
    font-size: 3.5rem;
    line-height: 0;
    color: #1d1d1d;
    width: 50%;
    font-weight: 700; }

nav {
  width: 50%; }
  nav .nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0; }
    nav .nav__container .nav__listItem {
      list-style: none;
      text-transform: uppercase;
      font-weight: 700; }
    nav .nav__container .nav__listItem--big {
      font-size: 2rem; }
    nav .nav__container .nav__listItem__a {
      text-decoration: none;
      padding: 10px 10px 10px 25px; }
    nav .nav__container .nav__listItem__a--black {
      color: #1d1d1d; }

.btn {
  border: 1px solid #0e5f88;
  padding: 10px 30px;
  border-radius: 5px;
  background: #0e5f88;
  text-transform: uppercase; }
  .btn a {
    color: white;
    text-decoration: none; }

.welcome .wrapper {
  text-align: center; }

.section__heading {
  font-size: 3.5rem;
  line-height: 3;
  color: #1d1d1d;
  text-align: center;
  width: 100%; }
  .section__heading .welcome__heading--primary {
    color: #0e5f88; }

.section__heading--medium {
  font-size: 2.5rem;
  line-height: 1;
  color: #1d1d1d; }

.section__heading--white {
  color: white; }

.why .section__heading {
  text-align: left; }

.why .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #f1f3f3; }
  .why .wrapper .why__section {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
  .why .wrapper .why__section:nth-child(1) {
    margin: 4% 5%;
    width: calc(50% - 10%); }
  .why .wrapper .why__section:nth-child(2) {
    background: url(../assets/image-4.jpeg);
    background-size: cover; }

.why__section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0; }
  .why__section__list .why__section__list__item:nth-child(1) {
    width: 20%; }
    .why__section__list .why__section__list__item:nth-child(1) .icon {
      width: 100%; }
  .why__section__list .why__section__list__item:nth-child(2) {
    width: 80%;
    padding-left: 2%; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container .card {
    width: calc((100% - 2%) / 3);
    margin: 1%;
    padding: 3% 2%;
    text-align: center; }
    .container .card .card__icon--big {
      font-size: 8rem; }
  .container .card--bordered {
    border: 1px solid #8ecceb;
    border-radius: 5px; }
  .container .card--filled {
    background: #8ecceb;
    border-radius: 5px; }
  .container .card--left {
    text-align: left; }

.card__list {
  list-style: none;
  padding: 0; }
  .card__list .card__list__item::before {
    content: '✓';
    margin: 1%; }

.testimonials {
  background: #1d1d1d;
  color: white;
  text-align: center;
  padding: 2%; }

.icon {
  width: 10%;
  margin: 0 auto; }

.gallery .wrapper {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.gallery {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .gallery .gallery__image {
    width: calc(100% / 4);
    position: relative; }
    .gallery .gallery__image:hover .gallery__image__caption {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .gallery .gallery__image__caption {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .gallery .gallery__image__caption .card {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid white;
      border-radius: 5px;
      margin: 4%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; }

.moreServices .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .moreServices .wrapper .moreServices__text, .moreServices .wrapper .moreServices__img {
    width: calc(100% / 2);
    margin: 1.5% 0;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    text-align: center; }
  .moreServices .wrapper .moreServices__text {
    padding: 5%;
    position: relative; }
    .moreServices .wrapper .moreServices__text .moreServices__text__number {
      position: absolute;
      top: -15px;
      right: 350px;
      bottom: 0;
      left: 0;
      font-family: 'Montserrat', sans-serif;
      font-size: 10rem;
      color: rgba(229, 227, 227, 0.5);
      font-weight: 700; }

.ask {
  background: #8ecceb;
  width: 100%;
  padding: 1% 0; }
  .ask .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .ask .wrapper .myForm {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 60%; }
      .ask .wrapper .myForm input[type="text"] {
        border: 1px solid #1d1d1d;
        text-align: center;
        padding: 1%;
        width: 100%;
        text-transform: uppercase;
        color: #1d1d1d; }
      .ask .wrapper .myForm input[type="submit"] {
        background: #1d1d1d;
        border: 1px solid #1d1d1d;
        color: white;
        padding: 10px 30px;
        border-radius: 5px;
        margin: 3%; }

.team .card {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .team .card:hover .card__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .team .card .card--cornered {
    border-radius: none; }
  .team .card .card__caption {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white; }
    .team .card .card__caption .card__caption__text {
      margin: 0;
      text-transform: uppercase; }

.logoNav--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .logoNav--column .logoNav__logo--white {
    color: white; }

.nav__listItem__a--white {
  color: white; }

footer {
  background: #1d1d1d;
  color: white; }
  footer .wrapper {
    margin-bottom: 0; }
  footer .myForm {
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .myForm input[type="email"] {
      border: none;
      background: #1d1d1d;
      color: white;
      -webkit-box-flex: 1;
      -ms-flex: 1 0;
      flex: 1 0;
      padding: 10px; }
    footer .myForm button {
      background: none;
      border: none;
      opacity: 0.5; }

.section__heading--small {
  font-size: 2rem;
  line-height: 1;
  color: #1d1d1d;
  color: white; }

nav .nav__container--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  position: relative; }
  nav .nav__container--column .nav__listItem--lowercase {
    text-transform: lowercase;
    font-weight: 400; }
  nav .nav__container--column .nav__listItem--lowercase::before {
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    font-weight: 900; }
  nav .nav__container--column .nav__listItem--lowercase:nth-of-type(1)::before {
    content: '\f0e0';
    font-weight: 400; }
  nav .nav__container--column .nav__listItem--lowercase:nth-of-type(2)::before {
    content: '\f095'; }
  nav .nav__container--column .nav__listItem--lowercase:nth-of-type(3)::before {
    content: '\f3c5'; }
  nav .nav__container--column .nav__listItem__a--white {
    color: white; }

.gallery--instagram {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 80%; }
  .gallery--instagram .gallery__image--small {
    margin-right: 10px;
    width: calc((100% - 30px) / 4);
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .gallery--instagram .gallery__image--small:nth-of-type(4), .gallery--instagram .gallery__image--small:nth-of-type(8) {
    margin-right: 0; }

.container--borderBottom {
  border-bottom: 1px solid white; }

.card__icon--small {
  color: white; }

.credits {
  font-family: "Opensans", sans-serif;
  text-transform: capitalize;
  color: #1d1d1d;
  color: white;
  text-align: center;
  padding-bottom: 1px; }

html {
  font-size: 62.5%; }

body {
  font-family: "Opensans", sans-serif;
  text-transform: none;
  color: #1d1d1d;
  font-size: 1.6rem;
  line-height: 2;
  color: #1d1d1d; }

img {
  width: 100%;
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #1d1d1d; }

h1 {
  font-size: 6rem;
  line-height: 1;
  color: #1d1d1d; }

h4 {
  font-size: 2.75rem;
  line-height: 2;
  color: #1d1d1d; }
