@import "setup";
@import "utils";
@import "typography";
@import "header";
@import "main";
@import "footer";
@import "media";

html {
    font-size:62.5%;
}

body {
    @include fontBase('Opensans', none);
    @include fontSize(1.6rem, 2);  
    @include breakPoint(firstBreak) {
        @include fontSize(1.4rem, 1.75);
    }  
}

img {
    width:100%;
    display:block;
    // line-height:0;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    // font-family:'Montserrat', sans-serif;
    @include fontBase('Montserrat', uppercase);
    // text-transform:uppercase;
}

h1 {
    @include fontSize(6rem, 1);
}

h4 {
    @include fontSize(2.75rem, 2);
}

