@import "setup";
@import "utils";
@import "typography";
@import "header";
@import "main";
@import "footer";
@import "media";

html {
    font-size:62.5%;
}

body {
    // @include font('Opensans', 400, $base, 1);
    font-size:1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    @include font('Montserrat', 700, $base, 3);
    text-transform:uppercase;
}
